@model ASM_WEB_APP.Models.Trainer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Go to Trainer List", "Index", "Trainers", null, htmlAttributes: new { @class = "btn btn-default" })
    }
    @if (User.IsInRole("Staff"))
    {
        @Html.ActionLink("Go to Session List", "Index", "CourseTopics", null, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
<div>
    <h3>Trainer</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Staff") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit Trainer", "Edit", new { id = Model.TrainerID }, htmlAttributes: new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Edit your Profile", "Edit", new { id = Model.TrainerID }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Change Password", "ChangePassword", new { id = Model.TrainerID}, htmlAttributes: new { @class = "btn btn-danger"})
    }
</p>
@if (User.IsInRole("Staff"))
{
<div>
    <h3>Assigned Session</h3>
    <p>
        @if (User.IsInRole("Staff"))
        {
            @Html.ActionLink("Add Session", "AddSession", "CourseTopics", new { TrainerID = Model.TrainerID }, htmlAttributes: new { @class = "btn btn-warning" })
        }
    </p>
    <table class="table">
        <tr>
            <th>
                Course
            </th>
            <th>
                Topic
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.CourseTopics)
        {
            <tr>
                <td>
                    @item.Course.CourseName
                </td>
                <td>
                    @item.Topic.TopicName
                </td>
                <td>
                    @Html.ActionLink("Detail", "Details", "CourseTopics", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-default col-md-4" })
                    @Html.ActionLink("Delete", "Delete", "CourseTopics", new { id = item.ID, con = "Trainers", act = "Details/" + item.TrainerID.ToString() }, htmlAttributes: new { @class = "btn btn-danger col-md-4" })
                </td>
            </tr>
        }

    </table>
</div>

}


