@model ASM_WEB_APP.Models.Trainer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Trainers", htmlAttributes: new { @class = "btn btn-default col-md-1" })  
    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.TrainerID }, htmlAttributes: new { @class = "btn btn-primary col-md-1" })
    }

    <br />
</p>


