@model IEnumerable<ASM_WEB_APP.Models.Trainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Create New", "Create", "Trainer", htmlAttributes: new { @class = "btn btn-warning" })
    }
</p>
@using (Html.BeginForm())
{
    <p>
        Find: @Html.TextBox("SearchTrainer")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Trainer", "Index", new { sortOrder = ViewBag.TrainerSortParm})
        </th>
        <th>
            User Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TrainerID }, htmlAttributes: new { @class = "btn btn-default col-md-4" })
                @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainerID }, htmlAttributes: new { @class = "btn btn-danger col-md-4" })
                }
            </td>
        </tr>
    }

</table>
