@model IEnumerable<ASM_WEB_APP.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if(User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create", "Staffs", htmlAttributes: new { @class = "btn btn-warning" })
    }
</p>
<table class="table" >
    <tr>
        <th>
            Staff 
        </th>
        <th>
            User Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.StaffID }, htmlAttributes: new { @class = "btn btn-default col-md-3" })
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.StaffID }, htmlAttributes: new { @class = "btn btn-primary col-md-3" })
                @Html.ActionLink("Delete", "Delete", new { id = item.StaffID }, htmlAttributes: new { @class = "btn btn-danger col-md-3" })
            }
        </td>
    </tr>
}

</table>
