@if(Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logout", "Logout", "Authen")</li>
    </ul>

    if(User.IsInRole("Admin"))
    {
        @Html.Partial("_AdminMenu")
    }
    if(User.IsInRole("Staff"))
    {
        @Html.Partial("_StaffMenu")
    }
    if (User.IsInRole("Trainer"))
    {
        @Html.Partial("_TrainerMenu")
    }
    if (User.IsInRole("Trainee"))
    {
        @Html.Partial("_TraineeMenu")
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Authen")</li>
    </ul>
}

