<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
    <li>@Html.ActionLink("Trainer", "Index", "Trainers")</li>
    <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
    <li>@Html.ActionLink("Course", "Index", "Courses")</li>
    <li>@Html.ActionLink("Topic", "Index", "Topics")</li>
    <li>@Html.ActionLink("Session", "Index", "CourseTopics")</li>
</ul>

