@model ASM_WEB_APP.Models.CourseTopic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<p>
    @Html.ActionLink("Back to List", "Index", "CourseTopics", htmlAttributes: new { @class = "btn btn-default" })
</p>
<div>
    <h3>Session</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd>

        <dt>
            Trainer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.LastName)
            @Html.DisplayFor(model => model.Trainer.FirstName)
        </dd>

    </dl>
    <p>@if (User.IsInRole("Staff"))
    {
        @Html.ActionLink("Edit Session", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-primary" })
    }
    </p>
</div>
<div>
    <h3>List of Trainees</h3>
    <p>
        @if (User.IsInRole("Staff"))
        {
            @Html.ActionLink("Add Trainee", "AddTrainee", "Enrollments", new { courseID = Model.CourseID, topicID = Model.TopicID },htmlAttributes: new { @class = "btn btn-warning" })
        }
    </p>
    <table class="table">
        <tr>
            <th>
                Trainee
            </th>
            @if (User.IsInRole("Staff"))
            {
                <th>
                    UserName
                </th>
            }
            <th>
                Address
            </th>
            <th>
                Grade
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in ViewBag.Enrollments)
        {
            <tr>
                <td>
                    @item.Trainee.LastName 
                    @item.Trainee.FirstName
                </td>
                <td>
                    @item.Trainee.UserName
                </td>
                <td>
                    @item.Trainee.Address
                </td>
                <td>
                    @item.Grade
                </td>
                <td>
                    @if (User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Delete", "Delete", "Enrollments", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-danger col-md-6" })
                    }
                </td>
            </tr>
        }

    </table>
</div>
