@model IEnumerable<ASM_WEB_APP.Models.CourseTopic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Sessions</h2>

<p>
    @Html.ActionLink("Create New", "Create", "CourseTopics", htmlAttributes: new { @class = "btn btn-warning" })
</p>
@using (Html.BeginForm())
{
    <p>
        Find by Course: @Html.TextBox("SearchCourse")
        Topic: @Html.TextBox("SearchTopic")
        Trainer: @Html.TextBox("SearchTrainer")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.CourseSortParm })
        </th>
        <th>
            @Html.ActionLink("Topic", "Index", new { sortOrder = ViewBag.TopicSortParm })
        </th>
        <th>
            @Html.ActionLink("Trainer", "Index", new { sortOrder = ViewBag.TrainerSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Course.CourseName, "Details", "Courses", new { id = item.CourseID}, null)
            </td>
            <td>
                @Html.ActionLink(item.Topic.TopicName, "Details", "Topics", new { id = item.TopicID}, null)
            </td>
            <td>
                @Html.ActionLink(item.Trainer.LastName + " " + item.Trainer.FirstName, "Details", "Trainers", new { id = item.TrainerID}, null)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-default col-md-4" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID, con = "CourseTopics", act = "Index" }, htmlAttributes: new { @class = "btn btn-danger col-md-4" })
            </td>
        </tr>
    }

</table>
