@model IEnumerable<ASM_WEB_APP.Models.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Topics", htmlAttributes: new { @class = "btn btn-warning" })
</p>
@using (Html.BeginForm())
{
    <p>
        Find: @Html.TextBox("SearchTopic")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Topic", "Index", new { sortOrder = ViewBag.TopicSortParm})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TopicID }, htmlAttributes: new { @class = "btn btn-default col-md-4" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TopicID }, htmlAttributes: new { @class = "btn btn-danger col-md-4" })
            </td>
        </tr>
    }

</table>
